.event__list {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.event-display__list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 56em) {
  .event-display__list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 26em) {
  .event-display__list-container {
    grid-template-columns: repeat(1, 1fr);
    background: green;
  }
}
